<!-- About Section -->
<html>
  <head>
    <title>about</title>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  </head>
  <body>
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>About Me </h2>
          <p>A compassionate healthcare professional (a graduate in Bachelor in
            Health Science-Nursing) who once navigated patient pathways and
            orchestrated care. But now, his focus has shifted to analysing data 
            structures and information processing. The rhythm of patient heartbeats has given
            way to the binary hum of code.<br>
            <br>
            <b>The Transition</b><br>
            From the immersive patient follow-ups, he realised that
            administrative records and the healthcare services received from his
            patients revealed patterns beyond paperwork and patient experiences.
            The hidden patterns that held the promise of improving patient
            outcomes. <br>
            <br>
            <b>The Inaugural Line of Code</b><br>
            Enrolling in a Bachelor Degree in Business Analytics and Masters of
            Analytics and Visualisation, he traded his healthcare profession to
            delve deeper into coding and analytics. Loops and logic became his
            new vitals. With each coding snippet and data analysis, he felt
            closer to uncovering the hidden patterns that could help improve
            patient care and outcomes.</p>
        </div>
      </div>
    </section>
  </body>
</html>
