<!-- Download Section -->
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  </head>
  <body>
    <section id="download" class="content-section text-center">
      <div class="download-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Projects</h2>
            <p>COVID-19 Country Grouping
              The project utilises basic clustering methods such as K-means, leveraging IBM SPSS Modeller 
              and JMP Statistical Software to categorise countries according to their COVID-19 risk levels. 
              By conducting thorough data exploration and preparation, it examines important factors such as 
              population demographics, GDP metrics and disease prevalence rates. Managing multicollinearity ensures 
              the reliability of the clustering process thereby facilitating the identification of unique risk clusters. 
              These clusters are invaluable for informing policy decisions, optimising resource allocation plans and 
              implementing effective mitigation measures. This thorough analysis provides actionable insights essential
              for navigating the challenges posed by the ongoing pandemic.</p>
             <div>
              <img src="https://raw.githubusercontent.com/Md-Khid/md-khid.github.io/main/img/1.png" alt="Image 1" style="width: 70%;">
            </div>
            <div>
              <img src="https://raw.githubusercontent.com/Md-Khid/md-khid.github.io/main/img/2.png" alt="Image 2" style="width: 70%;">
            </div>
            <a href="https://github.com/Md-Khid" class="btn btn-default btn-lg">Visit Repository</a> 
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

